@import '../../../../styles/variables.scss';

.movies-list{
    display: flex;
    flex-wrap: wrap;
    &__item{
        &:not(:nth-child(5n)) {
            margin-right: 59px;
        }
        margin-bottom: 20px;
    }
    &__content{
        background-color: #1d1d1d;
        padding: 20px 0;
    }
    &__title{
        text-align: center;
        margin-bottom: 30px;
        color: $colorg-reen;
        font-size: 22px;
        span{
            font-weight: 400;
        }
    }
}